<div class="flex flex-col items-center px-4 py-10 gap-2">
    <form [formGroup]="formGroup" (submit)="onSubmit()" class="w-full max-w-md">
        <legend class="text-3xl font-bold mb-4">ADMINI</legend>

        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">아이디</span>
                <span class="label-text-alt text-blue-500"></span>
            </div>
            <input 
                type="text" 
                placeholder="사용할 관리자 아이디를 입력하세요..." 
                class="input input-bordered w-full text-sm" 
                formControlName="username"
            />
            <div class="label">
                <span class="label-text-alt text-red-500">
                    @if (username.touched && username.errors?.['required']) { 
                        아이디를 입력해 주세요. 
                    } @else if (username.touched && username.errors?.['pattern']) { 
                        올바른 값을 입력해 주세요.
                    }
                </span>
            </div>
        </label>

        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">비밀번호</span>
                <span class="label-text-alt text-blue-500"></span>
            </div>
            <input 
                type="password" 
                placeholder="비밀번호를 입력하세요..." 
                class="input input-bordered w-full text-sm" 
                formControlName="password"
            />
            <div class="label">
                <span class="label-text-alt text-red-500">
                    @if (password.touched && password.errors?.['required']) { 
                        비밀번호를 입력해 주세요. 
                    } @else if (password.touched && password.errors?.['pattern']) { 
                        올바른 값을 입력해 주세요.
                    }
                </span>
            </div>
        </label>

        <button class="btn btn-neutral w-full mt-10">로그인</button>

    </form>
</div>
